env/

# __PYCHACHE__
src/services/__pycache__
src/__pycache__
src/robots/__pycache__
src/settings/__pycache__


# LOGS Y ARCHVIOS DESCARGADOS

#  Scraping
resources/Scraping/archivos/*
!resources/Scraping/archivos/.gitkeep

resources/Scraping/logs/*
!resources/Scraping/logs/.gitkeep

# ENTORNO
.env

# scripts - .sh
src/scripts/logs/*
src/scripts/logs/.gitkeep